@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
	color-scheme: light;
  }
  body {
	color: black;
	background: white;
	height: 100%;
	margin: 0;
  }
}


/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #171616;
    height: 100%;
    margin: 0;
  }
}*/

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.leaflet-control-geosearch .results > * {
  color: black;
}

.inputBox {
  position: relative;
  width: 300px;
  @apply m-3 drop-shadow-lg;

  input {
	position: relative;
	width: 100%;
	padding: 15px 10px;
	font-size: 1rem;
	@apply rounded-md border-solid border-2 border-sky-500
  }

  input:focus {
	@apply border-sky-600 outline-none scale-105
  }

  span {
	z-index: 2;
	position: absolute;
	color: black;
	left: 0;
	padding: 15px 10px;
	font-size: 1rem;
	transition: .5s;
  }

  input:valid ~ span,
  input:focus ~ span {
	transform: translateY(-16px);
	font-size: .75rem;
	color: grey;
  }


}
